{
    "presets": [
        ["env", {
            "modules": false
        }]
    ],
    "plugins": [
        "transform-react-jsx",
        "syntax-dynamic-import",
        "transform-class-properties"
    ]
}
